.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: left;
	padding: 5px;
	margin-bottom: var(--margin-top-bottom);
}
.main p {
	color: var(--font-first);
}
.main a {
	color: var(--font-second);
}
.main a:hover {
	color: var(--font-first);
}
.main blockquote {
	background-color: var(--background-second);
	font-style: italic;
	margin: auto;
	stroke: var(--font-first);
}
.main blockquote p {
	padding: var(--margin-side) var(--margin-top-bottom);
	color: var(--font-second);
}
.main img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 90%;
}
