.article figure {
	width: 100%;
	text-align: center;
	margin: 1rem 0;
}

.article figure img {
	width: 100%;
	height: auto;
}

.article figure figcaption {
	display: block;
	text-align: center;
	font-style: italic;
}

@media only screen and (max-width: 50rem) {
	.article img {
		max-width: 100%;
	}
}
