<div id="main_content">
	<footer>
		<p>{{ site.title }}, {{ 'now' | date: "%Y" }}</p>
		<a href="mailto:ceyhunsen237@protonmail.ch" target="_blank"><img src="/assets/img/email-logo.png"></a>
		<a href="https://www.linkedin.com/in/ceyhun-sen/" target="_blank"><img src="/assets/img/linkedin-logo.png"></a>
		<a href="https://github.com/ceyhunsen" target="_blank"><img src="/assets/img/github-logo.png"></a>
		<a href="https://twitter.com/cleyclun" target="_blank"><img src="/assets/img/twitter-logo.png"></a>
		<a href="https://www.instagram.com/cleyclun/" target="_blank"><img src="/assets/img/instagram-logo.png"></a>
		<a href="https://discord.com/users/cleyclun#1296" target="_blank"><img src="/assets/img/discord-logo.png"></a>
		<a href="https://open.spotify.com/user/mw9ifhrrbmj8sl3h98i7ndcp6?si=4cc10421baf44618" target="_blank"><img src="/assets/img/spotify-logo.png"></a>
		<a href="https://steamcommunity.com/id/cleyclun/" target="_blank"><img src="/assets/img/steam-logo.png"></a>
		<p><img src="/assets/img/location-logo.png"> İstanbul/Türkiye</p>
		<p><img src="/assets/img/location-logo.png"> Bursa/Türkiye</p>
	</footer>
</div>
