<body>
	{% include navigation.html %}
	<main>
		<header>
			<h1>{{ page.title }}</h1>
			<div class="post_date">
				{% if page.last-visit != null %}
					First visit: <time>{{ page.date | date: "%d/%m/%y" }}</time> <br>
					Last visit: <time>{{ page.last-visit | date: "%d/%m/%y" }}</time> <br>
					I've been here {{ page.been-here }} times
				{% else %}
					<time>{{ page.date | date: "%d/%m/%y" }}</time> <br>
				{% endif %}
			</div>
		</header>
		<article>
			{{ content }}
		</article>
	</main>
</body>
