/* Body style. */

body {
	margin: 0;
}

main {
	text-align: left;
	padding: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: var(--margin-top-bottom);
}

article,
div.indexpage {
	width: var(--width);
}
article p,
div.indexpage p {
	color: var(--font-first);
}
article a,
div.indexpage a {
	color: var(--font-second);
}
article a:hover,
div.indexpage a:hover {
	color: var(--font-first);
}
article blockquote,
div.indexpage blockquote {
	background-color: var(--background-second);
	font-style: italic;
	margin: auto;
	stroke: var(--font-first);
}
article blockquote p,
div.indexpage blockquote p {
	padding: var(--margin-side) var(--margin-top-bottom);
	color: var(--font-second);
}
article img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 90%;
}

header {
	width: var(--width);
}
header h1 {
	text-align: center;
}

/* If screen is small, use whole screen. */
@media only screen and (max-width: 50rem) {
	article,
	div.indexpage {
		width: 100%;
	}
	header {
		width: 100%;
	}
	article img {
		max-width: 100%;
	}
}
