/**
 * Styling for elements in body tag.
 **/

.main_content {
	display: flex;
	justify-content: center;
	text-align: center;
}

.content {
	text-align: left;
	width: 750px;
	max-width: device-width;
	margin: 15px;
}

.content p {
	text-align: justify;
	max-width: device-width;
}

.content img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 75%;
}

.list_item_link {
	text-decoration: none;
	color: var(--font-second);
}

.list_item_link:hover {
	text-decoration: underline;
	color: var(--font-first);
}
