/* Footer style. */

/* Variables. */
:root {
	--socials-size: 1rem;
}

footer {
	text-align: center;
	line-height: 0.5;
	font-size: medium;
	padding-bottom: var(--socials-size);
}

/* Footer contact images. */
footer img {
	max-height: var(--socials-size);
}
