/* Any index page's special stylings */

ul.findme {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.findme li {
    display: flex;
    height: 1.5rem;
    gap: 0.5rem;
    margin-bottom: 1rem;
}
