/* Navigation bar style. */

nav {
	text-align: center;
	background-color: var(--background-second);
}
nav a {
	font-size: medium;
	width: fit-content;
	text-decoration: none;
}
nav a:link,
nav a:visited {
	color: var(--font-second);
}
nav a:hover {
	color: var(--font-first);
}

nav #logo {
	color: var(--font-first);
	text-decoration: none;
	font-size: xx-large;
}

nav #cv {
	color: var(--font-second);
	text-decoration: none;
	font-size: x-large;
}
nav #cv:hover {
	color: var(--font-first);
	text-decoration: underline;
}
