/* Post related sylings */

div.post_date {
	color: var(--font-second);
	font-style: italic;
}

a.post_box {
	text-decoration: none; 
}

div.post_list_item {
	list-style-type: none;
	line-height: 1;
	background-color: var(--background-second);
	border-color:var(--background-third);
	border-style: inset;
	margin-bottom: 10px;
	padding: 10px 20px;
}
div.post_list_item:hover {
	background-color: var(--background-third);
}
li.post_list_item {
	line-height: 1;
}
p.post_tag {
	color: var(--font-second);
}
p.post_description {
	color: var(--font-second);
}

div.post_tags {
	margin-bottom: 1rem;
	display: flex;
}
div.post_tag {
	align-items: center;
	padding: 0.1rem 0.5rem;
	border: 0.1rem solid var(--font-second);
	margin-right: 0.5rem;
	border-radius: 5px;
	background-color: var(--background-second);
}

article figcaption {
    display: block;
    text-align: center;
    font-style: italic;
}

/* Responsive iframe with 100% width. */
.iframeWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    overflow: hidden;
}
.iframeWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
