/* Main stylesheet. */

@import "body.css";
@import "footer.css";

/* Variables. */
:root {
	/* Colors. */
	--background-first: rgb(0, 0, 0);
	--background-second: rgb(13, 17, 21);
	--background-third: rgb(25, 25, 25);
	--font-first: rgb(255, 255, 255);
	--font-second: rgb(200, 200, 200);
	--font-third: rgb(150, 150, 150);

	/* Size constants. */
	--width: 700px;
	--margin-top-bottom: 10px;
	--margin-side: 15px;
	--socials-size: 16px;
}

/* Global settings for the whole page. */
html {
	/* Text options. */
	font-family: sans-serif, system-ui;
	font-size: medium;
	line-height: 1.5;

	/* Coloring. */
	color: var(--font-first);
	background-color: var(--background-first);

	/* Page sizing. */
	word-wrap: break-word;
	overflow-wrap: break-word;
}
