/**
 * HTML tag styles and other style imports.
 **/

@import "top.css";
@import "navbar.css";
@import "body.css";
@import "footer.css";
@import "code.css";

/**
 * Global variables.
 **/
:root {
	/* Colors. */
	--background-first: rgb(0, 0, 0);
	--background-second: rgb(13, 17, 21);
	--background-third: rgb(25, 25, 25);
	--font-first: rgb(255, 255, 255);
	--font-second: rgb(200, 200, 200);
	--font-third: rgb(150, 150, 150);

	/* Size constants. */
	--width: 750px;
	--socials-size: 16px;
}

/**
 * Global settings for the whole web-site.
 **/
html {
	font-family: system-ui;
	font-size: large;
	line-height: 1.5;
	word-wrap: break-word;
	color: var(--font-first);
	background-color: var(--background-first);
}

/**
 * Link styling.
 **/
a {
	color: var(--font-second);
}
a:hover {
	color: var(--font-first);
}

/**
 * General styling of body.
 **/
body {
	margin: 0;
}

/**
 * General styling of lists.
 **/
li {
	list-style-type: disc;
}

/**
 * General styling of quotes.
 **/
blockquote {
	background-color: var(--background-second);
	color: var(--font-second);
	font-style: italic;
	margin: auto;
}

blockquote p {
	margin: 20px 15px;
}
