/**
 * Styling for the top of the page.
 **/

.top {
	text-align: center;
	overflow: hidden;
	padding: 10px;
	background-color: var(--background-second);
	color: var(--font-first);
	line-height: 200%;
}

.logo {
	color: var(--font-first);
	text-decoration: none;
	font-size: xx-large;
}

.cv {
	color: var(--font-second);
	text-decoration: none;
	font-size: larger;
}
 
.cv:hover {
	color: var(--font-first);
	text-decoration: underline;
}
