/**
 * Styling for the top of the page.
 **/

/**
 * Top bar styling.
 **/
.top_bar {
	text-align: center;
	overflow: hidden;
	padding: 10px;
	background-color: var(--background-second);
	color: var(--font-first);
	line-height: 200%;
}

/**
 * Logo section in top bar.
 **/
.top_bar_logo {
	color: var(--font-first);
	text-decoration: none;
	font-size: xx-large;
}
.top_bar_logo:hover {
	text-decoration: underline;
}

/**
 * CV button.
 **/
.cv {
	color: var(--font-second);
	text-decoration: none;
	font-size: larger;
}
.cv:hover {
	color: var(--font-first);
	text-decoration: underline;
}
