:root {
	--background-first: rgb(13, 17, 21);
	--background-second: rgb(25, 25, 25);
	--font-first: rgb(255, 255, 255);
	--font-second: rgb(200, 200, 200);
	--font-third: rgb(150, 150, 150);
	--width: 750px;
	--socials-size: 16px;
}
