---
layout: default
title: Blog
---

<h1>My Blog Posts</h1>

<h2>In English</h2>
<ul>
	{% for post in site.posts %}
		{% if post.language == "english" %}
			<li>
			<a href="{{ post.url }}" class="list_item_link">
			{{ post.date | date_to_string }} - {{ post.title }}</a>
			</li>
		{% endif %}
	{% endfor %}
</ul>

<h2>In Turkish</h2>
<ul>
	{% for post in site.posts %}
		{% if post.language == "turkish" %}
			<li>
			<a href="{{ post.url }}" class="list_item_link">
			{{ post.date | date_to_string }} - {{ post.title }}</a>
			</li>
		{% endif %}
	{% endfor %}
</ul>
