---
layout: default
title: Projects
---

<h1>Experience</h1>

<ul>
	{% for experience in site.experience reversed %}
		<li>
			<a href="{{ experience.url }}" class="list_item_link">{{ experience.title }} | {{ experience.position }} | {{ experience.start-date }} - {{ experience.end-date }}</a>
		</li>
	{% endfor %}
</ul>

<h1>Projects</h1>

<h2>Embedded Projects</h2>

<ul>
	{% for project in site.projects %}
		{% if project.category == "embedded" %}
			<li>
				<a href="{{ project.url }}" class="list_item_link">{{ project.title }}</a>
			</li>
		{% endif %}
	{% endfor %}
</ul>

<h2>Web Projects</h2>

<ul>
	{% for project in site.projects %}
		{% if project.category == "web" %}
			<li>
				<a href="{{ project.url }}" class="list_item_link">{{ project.title }}</a>
			</li>
		{% endif %}
	{% endfor %}
</ul>

<h1>Competitions</h1>

<ul>
	{% for competition in site.competitions %}
		<li>
			<a href="{{ competition.url }}" class="list_item_link">{{ competition.title }}</a>
		</li>
	{% endfor %}
</ul>
